﻿@model AnimeStore.WebUI.Models.NewsListViewModel

@{
    ViewBag.Title = "Новости";
}

<div class="home">
    <div class="catalogue pageBox boxClear">
        @for (int pageIndex = 1; pageIndex <= Model.PagingInfo.TotalPages; pageIndex++)
        {
            <a href="@Url.Action("Index", "News", new { page = pageIndex })"
               class="pageNumber @(pageIndex == Model.PagingInfo.CurrentPage ? "selected" : string.Empty)">
                @pageIndex
            </a>
        }
    </div>

    @foreach (var news in Model.News)
    {
        <div class="newsDiv">
            <p>
                <h3>@Html.ActionLink(news.Title, "Info", new { id = news.NewsId })</h3>
            </p>
            <div class="redRow"><p>@news.Preview</p></div>
            <p>
                <div>
                    <div class="newsData"><span class="special">Дата: </span>@news.DateOfNews</div>
                    <div class="newsAuthor"><span class="special">Автор: </span>@news.Author</div>
                    <div class="newsCategory"><span class="special">Категория: </span>@news.Category</div>
                </div>
            </p>
        </div>
    }

    <div class="catalogue pageBox boxClear">
        @for (int pageIndex = 1; pageIndex <= Model.PagingInfo.TotalPages; pageIndex++)
        {
            <a href="@Url.Action("Index", "News", new { page = pageIndex })"
               class="pageNumber @(pageIndex == Model.PagingInfo.CurrentPage ? "selected" : string.Empty)">
                @pageIndex
            </a>
        }
    </div>
</div>