﻿@model AnimeStore.WebUI.Areas.Admin.Models.EditNewsViewModel

@{
    ViewBag.Title = Model.News.Title;
}

<div class="home newsDiv">
    <p>
        <h2 class="special">@Model.News.Title</h2>
    </p>
    <p>
        <div>
            <div class="newsData"><span class="special">Дата: </span>@Model.News.DateOfNews</div>
            <div class="newsAuthor"><span class="special">Автор: </span>@Model.News.Author</div>
            <div class="newsCategory"><span class="special">Категория: </span>@Model.News.Category</div>
        </div>
    </p>
    <div class="redRow">@Html.Raw(Model.News.Text)</div>

    <a href="@Model.ReturnUrl">
        <div class="btn confirmOrder">
            Назад
        </div>
    </a>
    <div class="boxClear"></div>
</div>