﻿@using AnimeStore.WebUI.Infrastructure.Helpers

@{
    ViewBag.Title = "Интернет-магазин HikariPlanet";
}
<div class="home">
    <h1 class="special">
        Добро пожаловать в аниме магазин HikariPlanet!</h1>
    <p>
        В нашем <span class="special">аниме онлайн магазине</span> вы можете <span class="special">
            купить аниме на DVD</span> в самом высоком качестве, по низким ценам, как c
        русскими субтитрами, так и на русском языке с доставкой почтой в любой регион Украины.
        Убедитесь сами, у нас самый большой выбор аниме на DVD дисках!</p>
    <p>
        <span class="special"><b>HikariPlanet</b></span> — это интернет магазин для всех
        любителей аниме, который радует своих клиентов:</p>
    <ul>
        <li>самый большой ассортимент дисков; </li>
        <li>уникальный каталог аниме;</li>
        <li>мы не берем никакой предоплаты, оплачивайте заказ в момент получения;</li>
        <li>мы даем 100% гарантию на наш товар;</li>
        <li>фиксированная низкая цена за доставку;</li>
        <li>максимально быстрая обработка заказов;</li>
        <li>максимально низкие цены.</li>
    </ul>
    <div class="image">
        <div>
            <img src="~/Content/image/home1.jpg" alt="home1" /></div>
        <div>
            <img src="~/Content/image/home2.jpg" alt="home2" /></div>
        <div>
            <img src="~/Content/image/home3.jpg" alt="home3" /></div>
    </div>
    <div class="image">
        <div>
            <img src="~/Content/image/home4.jpg" alt="home4" /></div>
    </div>
</div>
