﻿@using AnimeStore.WebUI.Infrastructure.Helpers
@model AnimeStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Корзина";
}
<div class="home">
    <h2 class="special">Ваша корзина</h2>
    <table class="pricelist">
        <thead>
            <tr>
                <th></th>
                <th>Аниме</th>
                <th>Цена</th>
                <th>Кол-во</th>
                <th>Общая цена</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.OrderItems)
            {
                <tr>
                    <td>
                        <div class="cartImage">
                            <img src="@line.Product.Image.GetProductImageUrl()" alt="image" />
                        </div>
                    </td>
                    <td>@line.Product.Name</td>
                    <td>@line.PriceForComplect.ToString("# грн")</td>
                    <td>
                        <input type="number" id="numOfComplect" class="count" value="@line.NumOfComplects" min="1" max="100" />
                    </td>
                    <td>
                        <span id="oneItemsPrice">@(line.NumOfComplects * line.PriceForComplect)</span> грн
                    </td>
                    <td id="deleteItem">
                        @Html.Hidden("orderItemId", line.OrderItemId)
                        <input class="btn" id="deteteItemButton" type="button" value="Удалить"/>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">Итого:</td>
                <td>
                    <span id="totalPrice">@Model.Order.TotalPrice.ToString()</span> грн
                </td>
                <td></td>
            </tr>
        </tfoot>
    </table>

    <div class="confirmOrder">
        <input class="btn" id="step3Button" type="button" value="Далее" />
    </div>
    <div class="boxClear"></div>
</div>