﻿@{ 
    ViewBag.Title = "Заказ оформлен";
}

<div class="home">
    <p class="special">Заказ успешно оформлен. Ожидайте звонка от представителя магазина для подтверждения заказа.</p>
    <a href="@Url.Action("Index", "Catalogue")">
        <div class="btn confirmOrder">
            Вернуться в каталог
        </div>
    </a>
    <div class="boxClear"></div>
</div>
