﻿@using AnimeStore.WebUI.Models
@model LoginOrRegistrationModel

@{
    ViewBag.Title = "Регистрация";
}

<div class="home">
    <div id="orderSigtIn" class="signIN registration box">
        @using (Html.BeginForm("Step2", "Cart", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div id="signInValidation" class="signInValidation">@Html.ValidationMessage("modelError")</div>

            <div>
                @Html.TextBoxFor(e => e.LoginModel.Login, new
           {
               placeholder = "Логин"
           })<br />
                @Html.ValidationMessage("LoginModel.Login")
            </div>
            <div>
                @Html.PasswordFor(e => e.LoginModel.Password, new
           {
               placeholder = "Пароль"
           })<br />
                @Html.ValidationMessage("LoginModel.Password")
            </div>
            <div>
                @Html.CheckBoxFor(m => m.LoginModel.RememberMe)
                @Html.LabelFor(m => m.LoginModel.RememberMe, new { @class = "checkbox" })<br />
                @Html.ValidationMessage("LoginModel.RememberMe")
            </div>
            <input type="submit" class="btn" value="ВОЙТИ">
        }
    </div>


    @using (Html.BeginForm("Step2", "Cart", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div id="orderRegistration" class="signIN registration box">
            @Html.ValidationMessage("NotUniqueUserError")
            <div>
                @Html.LabelFor(m => m.RegistrationModel.Login)<br />
                @Html.TextBoxFor(m => m.RegistrationModel.Login)<br />
                @Html.ValidationMessage("RegistrationModel.Login")
            </div>
            <div>
                @Html.LabelFor(m => m.RegistrationModel.Email)<br />
                @Html.TextBoxFor(m => m.RegistrationModel.Email,
            new
            {
                type = "email"
            })<br />
                @Html.ValidationMessage("RegistrationModel.Email")
            </div>
            <div>
                @Html.LabelFor(m => m.RegistrationModel.FirstName)<br />
                @Html.TextBoxFor(m => m.RegistrationModel.FirstName)<br />
                @Html.ValidationMessage("RegistrationModel.FirstName")
            </div>
            <div>
                @Html.LabelFor(m => m.RegistrationModel.LastName)<br />
                @Html.TextBoxFor(m => m.RegistrationModel.LastName)<br />
                @Html.ValidationMessage("RegistrationModel.LastName")
            </div>
            <div>
                @Html.LabelFor(m => m.RegistrationModel.Password)<br />
                @Html.PasswordFor(m => m.RegistrationModel.Password)<br />
                @Html.ValidationMessage("RegistrationModel.Password")
            </div>
            <div>
                @Html.LabelFor(m => m.RegistrationModel.ConfirmPassword)<br />
                @Html.PasswordFor(m => m.RegistrationModel.ConfirmPassword)<br />
                @Html.ValidationMessage("RegistrationModel.ConfirmPassword")
            </div>
            <input type="submit" class="btn" value="Зарегистрироваться" />
        </div>
    }
    <div class="boxClear"></div>
</div>