﻿@using AnimeStore.WebUI.Infrastructure.Helpers
@model AnimeStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Подтвердите заказ";
}
<div class="home">
    <h2 class="special">Ваш заказ</h2>

    <div>
        <p><span class="special">Имя: </span>@Model.User.FirstName</p>
        <p><span class="special">Фамилия: </span>@Model.User.LastName</p>
    </div>

    <table class="pricelist">
        <thead>
            <tr>
                <th></th>
                <th>Аниме</th>
                <th>Цена</th>
                <th>Кол-во</th>
                <th>Общая цена</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.OrderItems)
            {
                <tr>
                    <td>
                        <div class="cartImage">
                            <img src="@line.Product.Image.GetProductImageUrl()" alt="image" />
                        </div>
                    </td>
                    <td>@line.Product.Name</td>
                    <td>@line.PriceForComplect.ToString("# грн")</td>
                    <td>@line.NumOfComplects</td>
                    <td>
                        @((line.NumOfComplects * line.PriceForComplect).ToString("# грн"))
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">Итого:</td>
                <td>
                    <span id="totalPrice">@Model.Order.TotalPrice.ToString()</span> грн
                </td>
            </tr>
        </tfoot>
    </table>
    <a href="@Url.Action("Step1", "Cart")">
        <div class="btn backBtn">
            Назад
        </div>
    </a>
    <div class="confirmOrder">
        <input class="btn" id="step4Button" type="button" value="Подтвердить заказ" />
    </div>
    <div class="boxClear"></div>
</div>
