﻿@using AnimeStore.WebUI.Models
@model RegistrationModel
@{
    ViewBag.Title = "Регистрация";
}
@using (Html.BeginForm("Registration", "Authentication", FormMethod.Post, new
{
    @name = "registration"
}))
{
    @Html.AntiForgeryToken()
    <div class="registration home">
        <div class="signIN">
            @Html.ValidationMessage("NotUniqueUserError")
            <div>
                @Html.LabelFor(m => m.Login)<br />
            @Html.TextBoxFor(m => m.Login)<br />
            @Html.ValidationMessage("Login")
        </div>
        <div>
            @Html.LabelFor(m => m.Email)<br />
        @Html.TextBoxFor(m => m.Email,
            new
            {
                type = "email"
            })<br />
        @Html.ValidationMessage("Email")
    </div>
    <div>
        @Html.LabelFor(m => m.FirstName)<br />
    @Html.TextBoxFor(m => m.FirstName)<br />
    @Html.ValidationMessage("FirstName")
    </div>
    <div>
        @Html.LabelFor(m => m.LastName)<br />
    @Html.TextBoxFor(m => m.LastName)<br />
    @Html.ValidationMessage("LastName")
    </div>
    <div>
        @Html.LabelFor(m => m.Password)<br />
    @Html.PasswordFor(m => m.Password)<br />
    @Html.ValidationMessage("Password")
    </div>
    <div>
        @Html.LabelFor(m => m.ConfirmPassword)<br />
    @Html.PasswordFor(m => m.ConfirmPassword)<br />
    @Html.ValidationMessage("ConfirmPassword")
    </div>
    <input type="submit" class="btn" value="Зарегистрироваться" />
    </div>
    </div>
}
