﻿@using AnimeStore.WebUI.Models
@model LoginModel
@{
    ViewBag.Title = "Вход";
}
<div class="registration home">
    <div class="signIN">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div id="signInValidation" class="signInValidation">@Html.ValidationMessage("modelError")</div>

            <div>
                @Html.TextBoxFor(e => e.Login, new
           {
               placeholder = "Логин"
           })<br />
                @Html.ValidationMessage("Login")
            </div>
            <div>
                @Html.PasswordFor(e => e.Password, new
           {
               placeholder = "Пароль"
           })<br />
                @Html.ValidationMessage("Password")
            </div>
            <div>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })<br />
                @Html.ValidationMessage("RememberMe")
            </div>
            <input type="submit" class="btn" value="ВОЙТИ">
            <div class="registrationLink">
                @Html.ActionLink("Регистрация", "Registration", "Authentication")
            </div>
        }
    </div>
</div>
