﻿@model AnimeStore.WebUI.Areas.Admin.Models.EditNewsViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Админ панель: редактирование новости";
}

@using (Html.BeginForm("Edit", "EditNews"))
{
    <div class="registration home">
        <div class="signIN">
            <h2>Редактирование новости «@Model.News.Title»</h2>
            <div>
                @Html.HiddenFor(m => m.News.NewsId)
                @Html.LabelFor(m => m.News.Author)<br />
                @Html.TextBoxFor(m => m.News.Author, new
           {
               @class = "editProductText"
           })<br />
                @Html.ValidationMessage("News.Author")
            </div>
            <div>
                @Html.LabelFor(m => m.News.Title)<br />
                @Html.TextBoxFor(m => m.News.Title, new
           {
               @class = "editProductText"
           })<br />
                @Html.ValidationMessage("News.Title")
            </div>
            <div>
                @Html.LabelFor(m => m.News.Preview)<br />
                @Html.TextAreaFor(m => m.News.Preview, new
           {
               TextMode = "MultiLine",
               rows = 3,
               @class = "editProductText"
           })<br />
                @Html.ValidationMessage("News.Preview")
            </div>
            <div>
                @Html.LabelFor(m => m.News.Text)<br />
                @Html.TextAreaFor(m => m.News.Text, new
           {
               TextMode = "MultiLine",
               rows = 15,
               @class = "editProductText"
           })<br />
                @Html.ValidationMessage("News.Text")
            </div>
            <div>
                @Html.LabelFor(m => m.News.Category)<br />
                @Html.TextBoxFor(m => m.News.Category, new
           {
               @class = "editProductText"
           })<br />
                @Html.ValidationMessage("News.Category")
            </div>
            <script>
                CKEDITOR.replace( 'News_Text' );
            </script>
            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
            <input type="submit" class="btn" value="Сохранить" />
            <a href="@Model.ReturnUrl">
                <div class="btn confirmOrder">
                    Отменить изменения и вернуться к списку
                </div>
            </a>
        </div>
    </div>

}

