﻿@model AnimeStore.WebUI.Models.NewsListViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Админ панель: Новости";
}

<div class="home listOfOrders">
    <div>
        @if (TempData["message"] != null)
        {
            <div class="special">@TempData["message"]</div>
        }
    </div>

    <h3 class="special">Список новостей</h3>
    <div class="catalogue pageBox boxClear">
        @for (int pageIndex = 1; pageIndex <= Model.PagingInfo.TotalPages; pageIndex++)
        {
            <a href="@Url.Action("Index", "EditNews", new { page = pageIndex })"
               class="pageNumber @(pageIndex == Model.PagingInfo.CurrentPage ? "selected" : string.Empty)">
                @pageIndex
            </a>
        }
    </div>

    <table class="listTable">
        <tr>
            <th>
                ID
            </th>
            <th>
                Дата
            </th>
            <th>
                Автор
            </th>
            <th>
                Категория
            </th>
            <th>
                Заголовок
            </th>
            <th>
                Описание
            </th>
            <th></th>
        </tr>

        @foreach (var news in Model.News)
        {
            <tr>
                <td>@news.NewsId</td>
                <td>@news.DateOfNews</td>
                <td>@news.Author</td>
                <td>@news.Category</td>
                <td>@Html.ActionLink(news.Title, "Edit", new { news.NewsId })</td>
                <td>@news.Preview</td>
                <td>
                    @using (Html.BeginForm("Delete", "EditNews"))
                {
                        @Html.Hidden("newsId", news.NewsId)
                        <input type="submit"
                               class="btn"
                               value="Удалить" onclick="return confirm('Удалить @news.Title?')" />
                    }
                </td>
            </tr>
        }

    </table>

    <a href="@Url.Action("Create", "EditNews")">
        <div class="btn confirmOrder">
            Добавить новость
        </div>
    </a>

    <div class="catalogue pageBox boxClear">
        @for (int pageIndex = 1; pageIndex <= Model.PagingInfo.TotalPages; pageIndex++)
        {
            <a href="@Url.Action("Index", "EditNews", new { page = pageIndex })"
               class="pageNumber @(pageIndex == Model.PagingInfo.CurrentPage ? "selected" : string.Empty)">
                @pageIndex
            </a>
        }
    </div>
</div>

