﻿@using AnimeStore.WebUI.Models
@model SearchResultsViewModel

@{
    ViewBag.Title = "Результаты поиска";
}

<div class="home">
    <div class="catalogue pageBox boxClear">
        @for (int pageIndex = 1; pageIndex <= Model.PagingInfo.TotalPages; pageIndex++)
        {
            <a href="@Url.Action("Search", "Search", new { q = Model.SearchKeyWord, page = pageIndex })"
               class="pageNumber @(pageIndex == Model.PagingInfo.CurrentPage ? "selected" : string.Empty)">
                @pageIndex
            </a>
        }
    </div>

    @foreach (var result in Model.SearchResults)
    {
        <div class="newsDiv">
            <a href="@result.Url">
                <h3>
                    @result.Name
                </h3>
            </a>
            @if (result.Image != null)
            {
                <div class="image searchImage">
                    <img src="@result.Image" alt="@result.Name" />
                </div>
            }
            <div class="redRow">
                <p>@result.Preview</p>
            </div>
            <div class="boxClear"></div>
        </div>
    }

    <div class="catalogue pageBox boxClear">
        @for (int pageIndex = 1; pageIndex <= Model.PagingInfo.TotalPages; pageIndex++)
        {
            <a href="@Url.Action("Search", "Search", new { q = Model.SearchKeyWord, page = pageIndex })"
               class="pageNumber @(pageIndex == Model.PagingInfo.CurrentPage ? "selected" : string.Empty)">
                @pageIndex
            </a>
        }
    </div>
</div>
