﻿@{
    ViewBag.Title = "Личный кабинет";
}

<div id="listOfProducts" class="home">
    <div class="special">
        <p>
            Список сделанных ранее заказов за последние 
            <input type="number" min="1" max="1000000" value="30" id="numOfDays" class="numOfDays" />
            дней
            <input type="button" name="getOrdersE" class="btn" value="Получить" onclick="getOrders()" />
        </p>
    </div>
</div>

