﻿@using AnimeStore.WebUI.Models
@model OrderHistoryModel

@{ 
    ViewBag.Title = "Список сделанных заказов за последние " + @Model.Days + " дней";
}

<div class="home">
    <div class='listOfOrders'>
        <p class='special'>
            Список сделанных заказов за последние @Model.Days дней: </p>
        @if (Model.Orders.Count != 0)
        {
            foreach (var orDer in Model.Orders)
            {
            <div class='listTable'>
                <table>
                    <tr>
                        <th>
                            Номер заказа
                        </th>
                        <th colspan='2'>@orDer.Order.OrderId
                        </th>
                        <th>
                            Дата заказа
                        </th>
                        <th>@orDer.Order.DateOfOrder
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Название аниме
                        </th>
                        <th>
                            Кол-во дисков в комплекте
                        </th>
                        <th>
                            Кол-во комплектов
                        </th>
                        <th>
                            Цена за комплект (грн)
                        </th>
                        <th>
                            Общая цена (грн)
                        </th>
                    </tr>
                    <tbody>
                        @if (orDer.OrderItemsInfo.Count != 0)
                        {
                            foreach (var item in orDer.OrderItemsInfo)
                            {
                            <tr>
                                <td>@item.Name
                                </td>
                                <td>@item.NumDiscsInComplect
                                </td>
                                <td>@item.NumOfComplects
                                </td>
                                <td>@item.PriceForComplect
                                </td>
                                <td>@item.TotalPrice
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                    <tr>
                        <th colspan='4'>
                            Общая сумма (грн)
                        </th>
                        <th>@orDer.Order.TotalPrice
                        </th>
                    </tr>
                </table>
            </div>
            }
        }
    </div>
    <a href="@Url.Action("Index", "Cabinet")">
        <div class="btn confirmOrder">
            Назад
        </div>
    </a>
    <div class="boxClear"></div>
</div>
