﻿@using AnimeStore.WebUI.Models
@model ProductsListViewModel
@{
    ViewBag.Title = "Каталог";
}

<div class="catalogue">
    <div class="catalogue pageBox boxClear">
        @for (int pageIndex = 1; pageIndex <= Model.PagingInfo.TotalPages; pageIndex++)
        {
            <a href="@Url.Action("Index", "Catalogue", new { page = pageIndex })"
               class="pageNumber @(pageIndex == Model.PagingInfo.CurrentPage ? "selected" : string.Empty)">
                @pageIndex
            </a>
        }
    </div>

    @foreach (var p in Model.Products)
    {
        <div>
            @Html.Action("InfoMini", new
       {
           id = p.ProductId
       })
        </div>
    }

    <div class="catalogue pageBox boxClear">
        @for (int pageIndex = 1; pageIndex <= Model.PagingInfo.TotalPages; pageIndex++)
        {
            <a href="@Url.Action("Index", "Catalogue", new { page = pageIndex })"
               class="pageNumber @(pageIndex == Model.PagingInfo.CurrentPage ? "selected" : string.Empty)">
                @pageIndex
            </a>
        }
    </div>
</div>

