﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/ico" href="~/Content/image/favicon.ico?v=2">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <title>@ViewBag.Title</title>
</head>
<body onload="digitalWatch()">
    <div id="digital_watch" class="digitalWatch">
        <p>
        </p>
    </div>
    <div>
        <ul class="menu">
            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
            <li>@Html.ActionLink("Новости", "Index", "News")</li>
            <li>@Html.ActionLink("Каталог", "Index", "Catalogue")</li>
            @if (WebSecurity.IsAuthenticated)
            {
                <li>@Html.ActionLink("Личный кабинет", "Index", "Cabinet")</li>
            }
            <li>
                @Html.ActionLink("О магазине", "Index", "About", null,
                new
                {
                    onmouseover = "About()",
                    onmouseout = "AboutHover()"
                })
            </li>
        </ul>
        <div class="aboutSite">
            <p>
                Автор сайта - DarkKnight<br />
                Бойко Алла
            </p>
        </div>
    </div>
    <div class="registrationA special">
        @if (WebSecurity.IsAuthenticated)
        {
            @WebSecurity.CurrentUserName<br />
            @Html.ActionLink("Выйти", "SignOut", "Authentication")
        }
        else
        {
            @Html.ActionLink("Войти", "SignIn", "Authentication")<br />
            @Html.ActionLink("Регистрация", "Registration", "Authentication")
        }
        <div class="special">_________</div>
        @Html.Action("Basket", "Cart")
        <div class="special">_________</div>
        <p>@Html.Action("SearchRow", "Search")</p>
    </div>
    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/myscripts")
    @RenderSection("scripts", required: false)
</body>
</html>
<footer>
    <div class="footer">
        Copyright © Alla Boiko, @System.DateTime.Now.Year
    </div>
</footer>