﻿@using AnimeStore.WebUI.Infrastructure.Helpers
@using AnimeStore.WebUI.Models
@model ChosenOrderItemModel

@{
    ViewBag.Title = Model.Item.Name;
}

<div class="catalogue">
    <div class="animeP">
        <p class="special">
            @Model.Item.Name
        </p>
        <div id="productInfoBlock" class="productInfoBlock">
            @if (Model.Item.StockAvailability)
            {
                <input id="productId" type="hidden" value="@Model.Item.ProductId" />
                <p>
                    <input type="number" id="numOfComplect" class="count" value="1" min="1" max="10" />
                    <input type="button" id="addToCart" class="btn" value="Добавить в корзину" />
                </p>
            }
            else
            {
                <p>
                    <span class="description">Нет в наличии</span>
                </p>
            }
        </div>
        <div>
            <p>
                <span class="description">Цена:</span> @Model.Item.Price.ToString("# грн")
            </p>
            <p>
                <span class="description">Количество дисков в комплекте:</span> @Model.Item.NumOfDiscsInComplect.ToString("# шт.")
            </p>
            <p>
            <p>
                <span class="description">Год: </span>@Model.Item.Year
            </p>
            <p>
                <span class="description">Тип: </span>
                @if (Model.Item.Types.Count == 0)
                {
                    @:-
                }
                else
                {
                    for (int i = 0; i < Model.Item.Types.Count - 1; i++)
                    {
                        @Model.Item.Types.ElementAt(i).Name@:,
                    }
                    @Model.Item.Types.ElementAt(Model.Item.Types.Count - 1).Name
                }
            </p>
            <p>
                <span class="description">Жанр: </span>
                @if (Model.Item.Genres.Count == 0)
                {
                    @:-
                }
                else
                {
                    for (int i = 0; i < Model.Item.Genres.Count - 1; i++)
                    {
                        @Model.Item.Genres.ElementAt(i).Name@:,
                    }
                    @Model.Item.Genres.ElementAt(Model.Item.Genres.Count - 1).Name
                }
            </p>
            <p>
                <span class="description">Количество эпизодов: </span>@Model.Item.NumOfSeries
            </p>
            <p>
                <span class="description">Режиссёр: </span>@Model.Item.Director<br />
                <span class="description">Автор оригинала: </span>@Model.Item.Scriptwriter
            </p>
            <p>
                <span class="description">Описание:</span><br />
                @Model.Item.Description
            </p>
            <p class="categoryAll">
                (@Model.Item.Category) - категория
            </p>
        </div>
        <div class="image">
            <img src="@Model.Item.Image.GetProductImageUrl()" alt="@Model.Item.Name" />
        </div>
    </div>
</div>
