﻿@using AnimeStore.WebUI.Infrastructure.Helpers
@using AnimeStore.WebUI.Models
@model ChosenOrderItemModel
<div class="catalogue">
    <div class="anime">
        <p class="special">
            @Model.Item.Name
        </p>
        <div class="InLine">
            <input type="button" class="btn moreInfoProduct" value="Подробнее" onclick="GetProductInfo('@Model.Item.ProductId')" />
            <div id="productInfoBlock">
                @if (@Model.Item.StockAvailability)
                {
                    <input id="productId" type="hidden" value="@Model.Item.ProductId" />
                    <input type="button" id="addToCart" class="btn" value="Добавить в корзину" />
                    <p><input type="number" id="numOfComplect" class="count" value="1" min="1" max="10" /></p>
                }
                else
                {
                    <p>
                        <span class="description">Нет в наличии</span>
                    </p>
                }
            </div>
        </div>
        <div>
            <p>
                <span class="description">Цена:</span> @Model.Item.Price.ToString("# грн")
            </p>
            <p class="categoryAll">
                (@Model.Item.Category) - категория
            </p>
        </div>
        <div class="image">
            <img src="@Model.Item.Image.GetProductImageUrl()" alt="@Model.Item.Name" />
        </div>
    </div>
</div>
