﻿<div id="searchDiv" class="searchDiv">
    <input type="search" id="searchString" class="searchString" placeholder="поиск"/>
    <input type="button" id="searchButton" class="searchButton" value="Найти"/>
</div>
