﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/ico" href="~/Content/image/favicon.ico">
    <script src="~/ckeditor/ckeditor.js"></script>
    @Styles.Render("~/Admin/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <title>@ViewBag.Title</title>
</head>
<body class="adminBody">
    <div>
        <ul class="menu">
            <li>@Html.ActionLink("Главная", "Index", "Admin")</li>
            <li>@Html.ActionLink("Товары", "Index", "Product")</li>
            <li>@Html.ActionLink("Новости", "Index", "EditNews")</li>
            <li>
                @Html.ActionLink("Магазин", "Index", "Home", new { area = "" }, null)
            </li>
        </ul>
        <div class="aboutSite">
            <p>
                Автор сайта - Dark Knight<br />
                Бойко Алла
            </p>
        </div>
    </div>
    <div class="registrationA special">
        @if (WebSecurity.IsAuthenticated)
        {

            @WebSecurity.CurrentUserName<br />
            @Html.ActionLink("Выйти", "SignOut", "Authentication", new { area = "" }, null)

        }
        else
        {
            @Html.ActionLink("Войти", "SignIn", "Authentication", new { area = "" }, null)<br />
            @Html.ActionLink("Регистрация", "Registration", "Authentication", new { area = "" }, null)
        }
    </div>
<div>
    @RenderBody()
</div>
    @Scripts.Render("~/bundles/Admin/js")
    @RenderSection("scripts", required: false)
</body>
</html>
<footer>
    <div class="footer">
        Copyright © Alla Boiko, @System.DateTime.Now.Year
    </div>
</footer>