﻿body {
    background: url(image/background.jpg) repeat rgb(193, 242, 199);
    font-size: 1em;
}

.menu {
    background: url(image/menu.jpg) repeat rgb(232, 248, 248);
    width: 65%;
    margin: 0px auto 0px auto;
    background-color: rgb(232, 248, 248);
    padding: 20px 50px 20px 50px;
    text-align: center;
    float: inherit;
    border-radius: 5px;
    color: Maroon;
    margin-bottom: 20px;
}

    .menu li {
        width: 50%;
        display: inline;
        margin-right: 5px;
        border-radius: 5px;
        color: Maroon;
        padding: 3px;
        font-weight: bold;
    }

        .menu li:hover {
            background-color: Maroon;
        }

            .menu li:hover a {
                color: White;
            }

    .menu a {
        text-decoration: none;
        color: Maroon;
    }

        .menu a:hover {
            text-decoration: none;
            background-color: Maroon;
            color: White;
        }

.home, .catalogue {
    width: 70%;
    margin: auto;
    text-align: justify;
    padding: 10px 20px;
    border-radius: 5px;
}

.home {
    background-color: White;
}

    .home h1, .catalogue h1 {
        text-align: center;
    }

.special {
    font-weight: bold;
    color: Maroon;
}

.image {
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
    background-color: White;
}

    .image div {
        display: inline-block;
    }

    .image img {
        border-radius: 5px;
        max-width: 100%;
        width: 80%;
        min-width: 10%;
    }

.cartImage {
    text-align: center;
    width: 100%;
}

    .cartImage img {
        border-radius: 5px;
        max-width: 100%;
        margin-top: 5px;
        width: 100px;
    }

.pricelist {
    width: 100%;
    margin: 0px auto;
    border: 2px solid Maroon;
    border-collapse: collapse;
    padding-top: 30px;
    color: Maroon;
}

    .pricelist th {
        background: url(image/menu.jpg) repeat;
        border: 2px solid Maroon;
        padding: 0 10px 0 10px;
        text-align: center;
    }

    .pricelist tbody {
        background-color: White;
    }

    .pricelist td {
        border: 1px solid Maroon;
        text-align: center;
    }

.anime a {
    color: Maroon;
    padding: 0px 10px 0px 0px;
}

.anime {
    float: right;
    width: 80%;
    margin: 10px 0px 10px 0px;
    border: 2px solid Maroon;
    background-color: White;
    border-radius: 5px;
}

    .anime p {
        padding: 0px 20px 0px 20px;
        font-weight: bold;
        font-size: 120%;
        text-align: left;
    }

    .anime div p {
        font-size: small;
        font-weight: normal;
    }

.animeP {
    float: right;
    margin: 0px 0px 10px 0px;
    border: 2px solid Maroon;
    background-color: White;
    border-radius: 5px;
}

    .animeP p {
        padding: 0px 20px 0px 20px;
        font-weight: bold;
        font-size: 120%;
        text-align: left;
    }

    .animeP div p {
        font-size: small;
        font-weight: normal;
        text-align: justify;
    }

.description {
    font-style: italic;
    font-weight: bold;
    color: Maroon;
}

.animeP .categoryAll, .anime .categoryAll {
    background-color: Maroon;
    color: White;
}

.footer {
    text-align: center;
    border-top: 2px solid Maroon;
    font-style: italic;
    margin: 0px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
    clear: both;
    color: Maroon;
}

.registration div {
    padding: 10px 10px;
}

.registration label {
    color: Maroon;
    font-size: small;
}

.btn {
    padding: 10px 10px;
    border-radius: 10px;
    margin: 10px 10px;
    font-weight: bold;
    background: url(image/menu.jpg) repeat White;
    color: Maroon;
}

.registration span {
    color: red;
    font-size: small;
}

.digitalWatch {
    width: 10%;
    text-align: center;
    color: Maroon;
    font-size: 170%;
    font-weight: bold;
    background-color: #fff;
    position: fixed;
    border-radius: 5px;
}

.registrationA {
    width: 10%;
    position: fixed;
    font-size: 90%;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    float: right;
}

    .registrationA a {
        text-decoration: none;
        color: Maroon;
    }

        .registrationA a:hover {
            text-decoration: none;
            background-color: Maroon;
            color: White;
        }

.aboutSite {
    display: none;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 56%;
    border: 2px solid Maroon;
    border-radius: 5px;
    background-color: White;
    font-size: smaller;
    padding: 5px;
    text-align: center;
    color: Maroon;
}

.moreInfo {
    display: none;
}

.infoHidden {
    text-align: center;
    color: Maroon;
    font-size: smaller;
}

    .infoHidden:hover {
        cursor: pointer;
    }

.registrationLink a {
    text-decoration: none;
    color: Maroon;
}

    .registrationLink a:hover {
        font-weight: bold;
        text-decoration: none;
    }

.listOfOrders table {
    width: 100%;
    margin: 0px auto;
    border: 2px solid Maroon;
    border-collapse: collapse;
    padding-top: 30px;
    color: Maroon;
}

.listTable {
    margin-bottom: 30px;
}

.listOfOrders th {
    background: url(image/menu.jpg) repeat;
    border: 2px solid Maroon;
    padding: 0 10px 0 10px;
    text-align: center;
}

.listOfOrders tbody {
    background-color: White;
}

.listOfOrders td {
    border: 1px solid Maroon;
    text-align: center;
}

.signInValidation {
    text-align: center;
}

.hidden {
    display: none;
}

.numOfDays {
    width: 50px;
}

.signIN {
    border: 2px solid Maroon;
    border-radius: 5px;
    text-align: center;
}

.productInfoBlock {
    float: right;
}

.moreInfoProduct {
    float: left;
}

.count {
    width: 40px;
    float: inherit;
}

.InLine {
    display: inline;
}

.backBtn {
    width: 20%;
    float: left;
    text-align: center;
}

.confirmOrder {
    width: 20%;
    float: right;
    text-align: center;
}

    .confirmOrder a, .backBtn a {
        text-decoration: none;
        font-weight: bold;
    }

.box {
    float: left;
    width: 400px;
    height: 520px;
    margin: 1em;
}

.boxClear {
    clear: both;
}

.pageBox {
    text-align: center;
}

.pageNumber {
    border: 2px solid Maroon;
    width: 40px;
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    background-color: White;
}

a.pageNumber {
    text-decoration: none;
    font-weight: bold;
    color: maroon;
}

    a.pageNumber:hover {
        border: 2px solid white;
    }

    a.pageNumber:hover, .selected {
        background-color: maroon;
    }

.pageNumber {
    color: maroon;
}

a.selected {
    color: white;
}

a.pageNumber:hover {
    text-decoration: none;
    color: white;
}

.editProductText {
    width: 80%;
}

.newsDiv {
    margin-bottom: 10px;
    border: 2px solid Maroon;
    border-radius: 5px;
    padding: 15px;
}

.redRow p {
    text-indent: 25px;
}

.newsDiv .newsData {
    text-align: left;
    width: 33%;
}

.newsDiv .newsAuthor {
    text-align: center;
    width: 33%;
}

.newsDiv .newsCategory {
    text-align: right;
    width: 33%;
}

.newsData, .newsAuthor, .newsCategory {
    display: inline-block;
    font-size: smaller;
}

.searchImage {
    width: 20%;
    float: left;
}

.searchDiv {
    margin-top: 5px;
}

.searchString {
    width: 95%;
}

.searchButton {
    margin: 5px 0;
    border-radius: 5px;
    font-weight: bold;
    background: url(image/menu.jpg) repeat White;
    color: Maroon;
}
