﻿@{
    ViewBag.Title = "Информация о магазине";
}
<div class="home">
    <h1 class="special">
        Что предлагает Вам наш аниме магазин:</h1>
    <p class="infoHidden" onclick="Info()">
        (показать/скрыть подробную информацию)</p>
    <div class="moreInfo">
        <ul>
            <li><span class="special">Самый большой ассортимент дисков!</span> На сайте представлен
                действительно огромный каталог, регулярно пополняемый новинками, и вышедшими ранее
                сериалами. Каталог, на данный момент насчитывает более 2800 позиций, из них только
                TV сериалов, более 1800 наименований. Он достаточно удобен и состоит из разделов,
                поэтому каждый из Вас сможет найти и заказать у нас аниме и хентай любого жанра
                и тематики, как новое, так и вышедшее ранее. Все аниме, представленное в каталоге,
                имеется в наличии!</li>
            <li><span class="special">Уникальный каталог аниме!</span> У нас Вы найдете обширную
                коллекцию аниме, очень редкие диски, которые не продаются в других онлайн магазинах.</li>
            <li><span class="special">Мы не берем никакой предоплаты за заказы!</span> Вы оплачиваете
                свой заказ, только когда получаете его на вашей почте! (наложенный платеж)</li>
            <li><span class="special">Мы даем 100% гарантию на наш товар!</span> Перед отправкой,
                диски обязательно проверяются на работоспособность, это гарантирует практически
                100% качество выполненных заказов. В случае если даже один из дисков будет поврежден
                при пересылке, что случается крайне редко из-за нашего особенного способа упаковки
                заказов, мы абсолютно бесплатно пришлем вам замену! Вы обязательно получите именно
                то, что заказали у нас на сайте!</li>
            <li>У нас <span class="special">фиксированная низкая цена за доставку</span>, мы доставим
                ваш заказ в любой регион Украины, вне зависимости от его суммы и веса. Из-за этого,
                наша доставка обойдется вам значительно дешевле, чем в других интеренет магазинах.
                На последнем этапе оформления заказа Вы увидите итоговую сумму стоимости заказа
                вместе со стоимость доставки в Ваш город, именно ту сумму которую Вам нужно будет
                оплатить на вашей почте в момент получения.</li>
            <li>У нас <span class="special">максимально быстрая обработка заказов</span>, с момента
                оформления, до отправки его по почте клиенту, проходит не более трех дней.</li>
            <li>У нас <span class="special">максимально низкие цены</span>, и при этом лучшее качество,
                которое вы сможете найти! Наш склад постоянно обновляется и с каждым разом в него
                попадают более качественные релизы, с лучшим разрешением видео и звука.</li>
            <li>Вы всегда можете получить ответы на интересующие Вас вопросы по телефону<br />
                +38 (099) 431-93-75 — пн-сб ( 10:00 – 20:00 ч.) </li>
            <li>Сайт принимает заказы круглосуточно, семь дней в неделю.</li>
        </ul>
    </div>
</div>
