﻿@using AnimeStore.WebUI.Infrastructure.Helpers
@model AnimeStore.WebUI.Areas.Admin.Models.EditProductViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Админ панель: редактирование товара";
}

@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="registration home">
        <div class="signIN">
            <h2>Редактирование аниме «@Model.Product.Name»</h2>
            <div>
                @Html.HiddenFor(m => m.Product.ProductId)
                @Html.LabelFor(m => m.Product.Name)<br />
                @Html.TextBoxFor(m => m.Product.Name, new
           {
               @class = "editProductText"
           })<br />
                @Html.ValidationMessage("Product.Name")
            </div>
            <div>
                @Html.LabelFor(m => m.Product.Year)<br />
                @Html.TextBoxFor(m => m.Product.Year,
                    new
                    {
                        type = "number",
                        min = 1900,
                        max = System.DateTime.Now.Year
                    })<br />
                @Html.ValidationMessage("Product.Year")
            </div>
            <div>
                @Html.Label("Типы")<br />
                @Html.ListBoxFor(m => m.TypeId, Model.Types, new {Multiple = "multiple", id = "selectTypes"})
            </div>
            <div>
                @Html.Label("Жанры")<br />
                @Html.ListBoxFor(m => m.GenreId, Model.Genres, new { Multiple = "multiple", id = "selectGenres" })
            </div>
            <div>
                @Html.LabelFor(m => m.Product.NumOfDiscsInComplect)<br />
                @Html.TextBoxFor(m => m.Product.NumOfDiscsInComplect,
            new
            {
                type = "number",
                min = 1,
                max = 10000
            })<br />
                @Html.ValidationMessage("Product.NumOfDiscsInComplect")
            </div>
            <div>
                @Html.LabelFor(m => m.Product.Price)<br />
                @Html.TextBoxFor(m => m.Product.Price)<br />
                @Html.ValidationMessage("Product.Price")
            </div>
            <div>
                @Html.LabelFor(m => m.Product.StockAvailability)<br />
                @Html.EditorFor(m => m.Product.StockAvailability)<br />
                @Html.ValidationMessage("Product.StockAvailability")
            </div>
            <div>
                @Html.LabelFor(m => m.Product.NumOfSeries)<br />
                @Html.TextBoxFor(m => m.Product.NumOfSeries,
            new
            {
                type = "number",
                min = 1,
                max = 10000
            })<br />
                @Html.ValidationMessage("Product.NumOfSeries")
            </div>
            <div>
                @Html.LabelFor(m => m.Product.Director)<br />
                @Html.TextBoxFor(m => m.Product.Director, new
           {
               @class = "editProductText"
           })<br />
                @Html.ValidationMessage("Product.Director")
            </div>
            <div>
                @Html.LabelFor(m => m.Product.Scriptwriter)<br />
                @Html.TextBoxFor(m => m.Product.Scriptwriter, new
           {
               @class = "editProductText"
           })<br />
                @Html.ValidationMessage("Product.Scriptwriter")
            </div>
            <div>
                @Html.LabelFor(m => m.Product.Description)<br />
                @Html.TextAreaFor(m => m.Product.Description, new
           {
               TextMode = "MultiLine",
               rows = 10,
               @class = "editProductText"
           })<br />
                @Html.ValidationMessage("Product.Description")
            </div>
            <div>
                @Html.LabelFor(m => m.Product.Category)<br />
                @Html.TextBoxFor(m => m.Product.Category, new
           {
               @class = "editProductText"
           })<br />
                @Html.ValidationMessage("Product.Category")
            </div>
            <div>
                @Html.LabelFor(m => m.Product.Image)<br />
                <div class="image cartImage">
                    <img src="@Model.Product.Image.GetProductImageUrl()" alt="none" />
                </div>
                @Html.TextBoxFor(m => m.Product.Image, new
           {
               @class = "editProductText"
           })<br />
                <p><label>Для новой обложки: </label><input type="file" name="image" accept="image/*,image/jpeg" /></p>
            </div>
            <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
            <input type="submit" class="btn" value="Сохранить" />
            <a href="@Model.ReturnUrl">
                <div class="btn confirmOrder">
                    Отменить изменения и вернуться к списку
                </div>
            </a>
        </div>
    </div>

}
