﻿@using AnimeStore.WebUI.Models
@model ProductsListViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Админ панель: Товары";
}
<div class="home listOfOrders">
    <div>
        @if (TempData["message"] != null)
        {
            <div class="special">@TempData["message"]</div>
        }
    </div>
    <h3 class="special">Список аниме</h3>
    <div class="catalogue pageBox boxClear">
        @for (int pageIndex = 1; pageIndex <= Model.PagingInfo.TotalPages; pageIndex++)
        {
            <a href="@Url.Action("Index", "Product", new { page = pageIndex })" 
               class="pageNumber @(pageIndex == Model.PagingInfo.CurrentPage ? "selected" : string.Empty)">
                    @pageIndex
            </a>
        }
    </div>
    <table class="listTable">
        <tr>
            <th>
                ID
            </th>
            <th>
                Название
            </th>
            <th>
                Цена
            </th>
            <th>
                Действия
            </th>
        </tr>

        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@Html.ActionLink(item.Name, "Edit", new { item.ProductId })</td>
                <td>@item.Price.ToString("# грн")</td>
                <td>
                    @using (Html.BeginForm("Delete", "Product"))
                {
                        @Html.Hidden("productId", item.ProductId)
                        <input type="submit"
                               class="btn"
                               value="Удалить" onclick="return confirm('Удалить @item.Name?')" />
                    }
                </td>
            </tr>
        }

    </table>

    <a href="@Url.Action("Create", "Product")">
        <div class="btn confirmOrder">
            Добавить аниме
        </div>
    </a>
    <div class="catalogue pageBox boxClear">
        @for (int pageIndex = 1; pageIndex <= Model.PagingInfo.TotalPages; pageIndex++)
        {
            <a href="@Url.Action("Index", "Product", new { page = pageIndex })"
               class="pageNumber @(pageIndex == Model.PagingInfo.CurrentPage ? "selected" : string.Empty)">
                @pageIndex
            </a>
        }
    </div>
</div>